:root {
  --color-primario: #6D28D9;
  --color-secundario: #231601;
  --color-marron: #712609;
  --color-claro: #F3F4F6;
  --color-beige: #f6d49acc;

  

  --espacio-xs: 0.5rem;
  --espacio-sm: 1rem;
  --espacio-md: 1.5rem;
  --espacio-lg: 2rem;
  --espacio-xl: 3rem;
  

  --fuente-texto: 'Montserrat', sans-serif;
  --fuente-titulos: 'Poppins', sans-serif;
  

  --borde: 1px solid #E5E7EB;
}
 
